<div class="container-fluid" style="text-align:center">
    <div class="row" style="text-align:center;">
    <div class="col-md-12" style="font-size:22px">All Characters</div>
    <br><br><br><br>
    </div>
    <div class="row" style="text-align:center" *ngIf="allCharacters?.length > 0">
    <div  *ngFor="let character of allCharacters| paginate: config" class="col-md-4"> <!--structual directive called-->
    
        <div class="card  bg-dark text-black card-block" style="border-style: none;">
            <img class="card-img" src="../../assets/character1.png">
            <div class="card-img-overlay">
            <h5 class="card-title" style="margin-top:5%;">{{character.name | uppercase}}</h5>
            <div class="card-body" >
            <p class="text-center" style="font-weight: bolder;">Gender:{{character.gender}}</p>
            </div>
            
            
           <a [routerLink]="['/character',character.id]" class="btn btn-lg btn-primary">Read</a>
            
         
            </div>
        </div> 
    <br/>
    </div>
    </div>
    <pagination-controls (pageChange)="pageChange($event)" class="pagination justify-content-center"  aria-label="Previous"  aria-hidden="true"  aria-label="Next"aria-hidden="true"></pagination-controls> <!--implemented pagination-->

    </div>

